<!-- Footer Top Design -->
<div class="w-full">
  <app-footer-top-icon></app-footer-top-icon>
</div>

<!-- Footer -->
<div class="bg-[#FFB68B] -mt-8 px-4 w-full md:px-12">
  <div>
    <!-- Help Center -->
    <div>
      <h4 class="text-[#321300] text-[25px] font-bold md:text-[39px]">Help Center</h4>
      <ul class="text-[#873D00] font-normal text-[22px] pt-10 pb-6 space-y-6 border-b-[1px] border-solid border-[#E79F74] md:text-4xl md:space-y-10 md:pt-12 md:pb-10">
        <li class="hover:font-bold cursor-pointer">Order Stage</li>
        <li class="hover:font-bold cursor-pointer">Retruns</li>
        <li class="hover:font-bold cursor-pointer">Payment Methods</li>
        <li class="hover:font-bold cursor-pointer">Shipments</li>
      </ul>
      <ul class="text-[#873D00] font-normal text-[22px] pt-6 pb-16 space-y-6 md:text-4xl md:pt-10 md:space-y-10 md:pb-28">
        <li class="hover:font-bold cursor-pointer">Frequently Asked Questions (FAQS)</li>
        <li class="hover:font-bold cursor-pointer">Contuct Us</li>
      </ul>
    </div>

    <!-- About us -->
    <div class="w-full bg-[#FFCEB1] rounded-xl p-3 md:p-10">
      <div class="flex justify-start items-center gap-1 w-full">
        <app-about-logo></app-about-logo>
        <p class="text-[#994700] font-bold text-lg md:text-3xl">8pus.shop</p>
      </div>
      <div class="pt-3 pb-4 text-xs text-[#994700] md:text-2xl md:pt-6 md:pb-7">
        <p>8pus.shop is a new store that aims to bring together all the products a home needs, from supermarket items, to spare parts for your car and anything else you can imagine.</p>
      </div>
      <div class="text-[#994700] text-sm font-bold md:text-2xl">
        <p>Learn about us</p>
      </div>
    </div>

    <!-- Social -->
    <div class="pt-16 pb-12 w-full flex justify-center items-center gap-6 md:pt-23 md:pb-19 md:gap-9">
      <!-- Instagram -->
      <app-insta-icon></app-insta-icon>
      <!-- TikTok -->
      <app-tiktok-icon></app-tiktok-icon>
    </div>

    <!-- Terms -->
    <div>
      <ul class="flex justify-center items-center gap-4 text-[#994700] text-sm font-normal pb-4 border-b-[1px] border-solid border-[#E79F74] md:text-2xl md:gap-8 md:pb-10">
        <li class="cursor-pointer">Terms of use</li>
        <li class="cursor-pointer">GDPR</li>
        <li class="cursor-pointer">Cookies</li>
      </ul>
    </div>

    <!-- Copyright -->
    <div class="pt-3 pb-[90px] w-full text-center text-[#BF5A00] text-xs md:text-2xl md:pt-9 md:pb-32">
      <p>8PUS.SHOP - All Rights and Lefts reserved. {{ anio }}©</p>
    </div>
  </div>
</div>